[submodule "college/solving-political-boundaries-through-simulation/politicalboundaries"]
	path = college/solving-political-boundaries-through-simulation/politicalboundaries
	url = https://www.github.com/thedataleek/politicalboundaries
