@import "{{ site.theme }}";

a:hover {
    font-weight: normal;
}

@font-face {
    font-family: "Yellow Magician"
    src: url("/assets/fonts/YellowMagician.ttf") format('truetype');
}

h1 {
    font-family: "Yellow Magician";
}
