---
---

@import "{{ site.theme }}";

a:hover {
    font-weight: normal;
}

a {
    color: black;
}

h1 {
    color: black;
}

#resume {
    width: 100%;
    max-width: 500px;
    height: auto;
}

button {
    background-color: #4d4d4d !important;
}


