---
---

@import "{{ site.theme }}";

a:hover {
    font-weight: normal;
}

a {
    color: black;
}

h1 {
    color: black;
}

#resume {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

}

.wrapper header {
    flex: 1;
    margin-left: 10%;
    min-width: 270px;
}

.wrapper section {
    flex: 3;
    max-width: 60%;
    min-width: 500px;
}


button {
    background-color: #4d4d4d;
}

html {
  --s: 10px; /* control the size */

  --c:#0000,#fff .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    #efefef;
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

